<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<img src="/glare.gif" alt="a glaring grey american short hair" />
<p>A glaring grey american short hair</p>
</body>
</html>
